<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About</h2>
        <p>I'm an aspiring web developer, born and raised in Hong Kong to Japanese parents. My interests in fitness and well being led to earning my Personal Trainer (NASM-CPT) and Corrective Exercise Specialist (NASM-CES) certifications through the National Academy of Sports Medicine(NASM). Due to Covid-19, I reconsidered my choices and was fortunate to be given the opportunity to work at Lululemon Athletica. I am forever grateful for the opportunity they gave me, and giving me a chance. After leaving, I enrolled in a web development bootcamp run by Le Wagon Tokyo and recently graduated. Now I hope to bring together my interests in fitness, sports, and well-being through my newly acquired coding skills. Stay tuned for some fun projects in the near future! Any project ideas are all welcome! I hope to make fitness and mental well-being accesible to more people.
      </p>
      </div>
    </div>
  </div>
</div>
